BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 150
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4